.leftbar {
    flex: 2;
  .container {
    padding: 20px;
    .menu {
      display: flex;
      flex-direction: column;

      .user {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        background-color: rgba(128, 128, 128, 0.241);
        border-radius: 18px;
        padding-right: 10px;
        transition: .2s;
        img {
          border-radius: 100%;
          width: 36px;
          height: 36px;
          object-fit: cover;
          object-position: 0 -5px;
        }
        span {
            margin: 0 auto;
            font-weight: 600;
        }
        &:hover {
            background-color: rgba(128, 128, 128, 0.587);
        }
      }
      .item {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        background-color: rgba(0, 156, 203, 0.278);
        border-radius: 16px;
        svg {
          background-color: rgba(0, 0, 0, 0.661);
          border-radius: 100%;
          width: 36px;
          height: 36px;
          color: white;
          padding: 5px;
          transition: 0.2s;
        }

        span {
          user-select: none;
        }

        &:hover svg {
          background-color: lighten($color: rgba(0, 0, 0, 0.661), $amount: 50);
        }
        &:active svg {
          background-color: lighten($color: rgba(0, 0, 0, 0.661), $amount: 20);
        }
      }

      .left-bar_list {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &:not(:last-child) {
          border-bottom: 1px solid gray;
        }
      }
    }
  }
}
