@import "../../main.scss";

.navbar {
  @include themify($themes) {
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    border-bottom: 1px solid themed("border");
    svg {
      color: themed("textColor");
    }
    .left {
      align-items: center;
      display: flex;
      gap: 10px;

      
      .darkmode_icon{
        width: 24px;
        height: 24px;
      }
      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("textColor");
      }

      .search {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid lightgray;
        input {
          background-color: themed("bg");
          color: themed("textColor");
          width: 500px;
          border: 0;
          outline: 0;
        }
      }
    }
    .right {
      align-items: center;
      display: flex;
      gap: 20px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          border-radius: 100%;
          width: 30px;
          height: 30px;
          object-fit: cover;
         
        }
        span {
          color: themed("textColor");
          font-weight: 600;
        }
      }
    }

    svg {
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        color: lighten($color: themed("textColor"), $amount: 50);
      }
      &:active {
        transition: 0.1s;
        color: lighten($color: themed("textColor"), $amount: 10);
      }
    }
  }
}
